.background
{
    -fx-background-color: #404040;
}

#console
{
    -fx-background-color: #303030;
    -fx-color: #303030;
    -fx-text-fill: white;
    -fx-text-alleign: left;
}

.text-area {
    text-area-background: #101010 ;
    -fx-text-fill: #00d9ff;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.menuebar
{
    -fx-background-color: #101010;
}

.modItem
{
    -fx-background-color: #101010;
}


.menu .label
{
    -fx-text-fill: white;
}
